<h1>SHOT TRACKER</h1>

{{#if isLoggedIn}}
    <a href="/logout">Log Out</a>
{{else}}
    <a href="/login">Log In</a>
{{/if}}

<nav>
    <button>
        <a href="/info">Personal Info</a>
    </button>
    <button>
        <a href="/med">Medicine</a>
    </button>

</nav>