<h1>SHOT TRACKER</h1>

<nav>
    <button>
        <a href="/info">Personal Info</a>
    </button>
    <button>
        <a href="/med">Medicine</a>
    </button>
    <button>
        <a href="/record">Record</a>
    </button>
</nav>