<div class='container'>
    <img src="/images/Logo.png" alt="Shot Tracker" srcset="">

    <span>
        {{#if isLoggedIn}}
            <button class="button">
                <a href="/logout">Log Out</a>
            </button>
        {{else}}
            <button class="button">
                <a href="/login">Log In</a>
            </button>
        {{/if}}
    </span>


    <nav>
        <button class="button is-success">
            <a href="/info">Personal Info</a>
        </button>
        <br>
        <button class="button is-warning">
            <a href="/med">Medicine</a>
        </button>

    </nav>
    <footer>
        &copy; 2018 Matt and Bhisma
    </footer>
</div>