    <form action="/newmed" method="POST">
        <input type="text" name="MedName" placeholder="Med Name">
        <input type="text" name="AmtAvail" placeholder="Quantity Remaining">
        <input type="text" name="LotNum" placeholder="Numbers/Letters">
        <input type="text" name="ExpDate" placeholder="MM/DD/YYYY">
        <input type="submit">
        <input type="reset">
    </form>

    <button>
    <a href="/med">Return To Med List</a>
    </button>