{{#each Medicine}} 
    <form></form>
        <input type="text" name="MedName" value="{{medname}}" placeholder="Med Name">
        <input type="text" name="AmtAvail" value="{{amtavail}}" placeholder="Quantity Remaining">
        <input type="text" name="LotNum" value="{{lotnum}}" placeholder="Numbers/Letters">
        <input type="text" name="ExpDate" value="{{expdate}}" placeholder="MM/DD/YYYY">
    </form>
{{/each}}