{{#each Shot}} 
    <form>
        <input type="datetime-local" name="ShotTime" value="{{shottime}}" placeholder="Shot Time">
        <input type="text" name="ShotLocation" value="{{shotlocation}}" placeholder="Shot Location"><br>
        <textarea name="Notes" id="" cols="30" rows="10">{{notes}}</textarea>
    </form>
{{/each}}

<button>
    <a href="/">Return Home</a>
</button>

<button>
    <a href="/newrecord">Add New Shot Record</a>
</button>