
    <form>
        <input type="datetime-local" name="ShotTime" value="{{shottime}}" placeholder="Shot Time">
        <input type="text" name="ShotLocation" value="{{shotlocation}}" placeholder="Shot Location"><br>
        <textarea name="Notes" cols="30" rows="10">{{notes}}</textarea>
    </form>


<button>
    <a href="/">Return Home</a>
</button>