<form action="/newrecord" method="POST">
    <input type="text" name="ShotTime" placeholder="YYYY/MM/DD HH:MM:SS">
    <input type="text" name="ShotLocation" placeholder="Shot Location"><br>
    <textarea name="Notes" id="" cols="30" rows="10"></textarea>
    <input type="submit">
    <input type="reset">
</form>

<button>
    <a href="/">Return Home</a>
</button>